<div
  fxLayout="row"
  fxLayoutAlign="stretch center"
  fxLayoutGap="10px"
  class="comment-area"
  [style.margin-bottom]="isRootNode() === true ? '10px' : '3px'"
>
  <div fxLayout="column">
    <div fxLayout="row" fxLayoutGap="5px">
      <img
        src="https://s.gravatar.com/avatar/{{ comment.emailHash }}?s=36"
        alt="User Avatar"
        style="border-radius: 50%; height: 36px; width: 36px"
      />
      <div>
        <div style="font-size: medium">{{ comment.userName }}</div>
        <div style="font-size: smaller">{{ getElapsedTime() }}</div>
      </div>
    </div>
    <div style="font-size: small; margin-top: 3px; margin-bottom: 3px">
      {{ comment.content }}
    </div>
    <div fxLayout="row">
      <button mat-icon-button>
        <mat-icon inline="true">expand_less</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon inline="true">expand_more</mat-icon>
      </button>
      <button
        mat-button
        style="font-weight: normal; height: 32px; line-height: 32px"
      >
        Reply
      </button>
    </div>
  </div>
</div>
