<div
  fxLayout="row"
  fxLayoutAlign="stretch center"
  fxLayoutGap="10px"
  class="comment-area"
  [style.margin-bottom]="isRootNode() === true ? '10px' : '3px'"
>
  <!-- <mat-icon style="width: 36px; height: 36px; font-size: 36px"
    >account_circle</mat-icon> -->
  <div fxLayout="column">
    <div style="font-size: large">{{ comment.userName }}</div>
    <div style="font-size: smaller">{{ getElapsedTime() }}</div>
    <div style="font-size: small; margin-top: 3px; margin-bottom: 3px">
      {{ comment.content }}
    </div>
    <div fxLayout="row">
      <button mat-icon-button>
        <mat-icon inline="true">expand_less</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon inline="true">expand_more</mat-icon>
      </button>
    </div>
  </div>
</div>
