.example-spacer {
  flex: 1 1 auto;
}
.container {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.example-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}