<mat-toolbar class="mat-elevation-z3 example-header" style="z-index: 2;">
  <div fxLayout="row" fxLayoutAlign="space-between center" style="width: 100%;">
    <div fxLayout="row">
      <a mat-button style="font-size: 25px;" color="primary" routerLink="/">{{ title }}</a>
      <div *ngIf="mdScreen()">
        <button mat-button>About</button>
        <button mat-button>Contact</button>
      </div>
    </div>
    <div fxLayoutGap="10px" *ngIf="smScreen()">
      <button mat-button>Sign In</button>
      <button mat-raised-button color="primary">Sign Up</button>
    </div>
    <div *ngIf="xsScreen()">
      <button mat-icon-button color="primary" [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<div fxLayout="row" class="container">
  <div style="width: 300px;" *ngIf="lgScreen()"></div>
  <div fxFlex>
    <router-outlet></router-outlet>
  </div>
  <div style="width: 300px;" *ngIf="mdScreen()"></div>
</div>
<mat-menu #menu="matMenu" fxFlex="column">
  <button mat-menu-item>About</button>
  <button mat-menu-item>Contact</button>
</mat-menu>