<mat-toolbar color="primary">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ title }}</span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="container">
  <mat-sidenav opened mode="side" style="width: 250px"></mat-sidenav>
  <mat-sidenav
    opened
    mode="side"
    position="end"
    style="width: 250px"
  ></mat-sidenav>
  <mat-sidenav-content>
    <mat-card *ngFor="let post of blogPosts" style="margin: 10px">
      <mat-card-header>
        <mat-card-title>{{ post.title }}</mat-card-title>
        <mat-card-subtitle>{{
          post.createdDate | date: "longDate"
        }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>{{ post.content }}</mat-card-content>
    </mat-card></mat-sidenav-content
  ></mat-sidenav-container
>
