<div *ngIf="post$ | async as post; else loading" fxFlex>
    <mat-card style="margin: 10px 10px">
        <img mat-card-image [src]="post.image" alt="Blog post image">
        <mat-card-title>
            {{post.title}}
        </mat-card-title>
        <mat-card-subtitle>
            {{post.createdDate | date: "longDate"}}
        </mat-card-subtitle>
        <mat-card-content>
            <div [innerHTML]="post.content"></div>
        </mat-card-content>
        <mat-card-footer style="padding-left: 15px; padding-bottom: 5px;">
            <div fxLayout="row" fxLayoutGap="10px">
                <div fxLayout="row">
                    <mat-icon color="primary" style="margin-right: 3px;">thumb_up_alt</mat-icon>
                    <div class="mat-body">{{post.upvoteCount}} likes</div>
                </div>
                <div fxLayout="row">
                    <mat-icon color="primary" style="margin-right: 3px;">chat_bubble</mat-icon>
                    <div class="mat-body">{{post.commentCount}} comments</div>
                </div>
            </div>
        </mat-card-footer>
    </mat-card>
</div>
<ng-template #loading>
    <div class="loading-indicator">
        <mat-spinner diameter="50"></mat-spinner>
    </div>
</ng-template>